<form
  [formGroup]="registerForm"
  class="needs-validation"
  novalidate
  (ngSubmit)="handleRegister()"
  autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input
      id="username"
      type="text"
      class="form-control"
      formControlName="username"
      placeholder="Username" />
    <label for="username">Username</label>
    @if(userNameControl.touched && userNameControl.hasError('existedName')) {
    <div class="invalid-feedback">
      Username {{userNameControl.value}} is already taken.
    </div>
    } @if(userNameControl.touched && userNameControl.hasError('required')) {
    <div class="invalid-feedback">Please provide username.</div>
    }
  </div>
  <div class="mb-3 form-floating">
    <input
      id="password"
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password" />
    <label for="password">Password</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-4" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="handleCancel()">
      Cancel
    </button>
  </div>
</form>
